* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0; }

body {
  background: #FFF;
  font-size: 0;
  font-family: "Open Sans"; }

#top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100px;
  width: 100%;
  background: #388ecb; }
  #top .container {
    position: relative; }
    #top .container .logo {
      display: block;
      width: 300px;
      line-height: 100px;
      text-align: center; }
      #top .container .logo img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%; }
    #top .container .menu {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      line-height: 100px;
      text-align: right;
      margin: 0;
      padding: 0;
      padding-right: 15px; }
      #top .container .menu .menu_item {
        display: inline-block;
        vertical-align: middle; }
        #top .container .menu .menu_item a {
          display: block;
          height: 50px;
          padding: 0 20px;
          line-height: 50px;
          font-size: 16px;
          color: #FFF;
          text-decoration: none;
          transition: .3s; }
          #top .container .menu .menu_item a:hover {
            background: rgba(255, 255, 255, 0.3); }

.section {
  padding: 30px 0; }
  .section .sec_title {
    font-size: 24px;
    color: #388ecb;
    font-weight: 700;
    text-transform: uppercase; }
  .section#home {
    background: #388ecb;
    padding-top: 100px;
    padding-bottom: 100px; }
    .section#home .big_title {
      padding: 100px 0 50px;
      text-align: center;
      font-size: 60px;
      color: #FFF;
      font-weight: 700;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
    .section#home .slogan {
      text-align: center;
      font-size: 40px;
      color: #FFF;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
    .section#home .product_list {
      text-align: center;
      padding: 100px 0 0;
      margin: 0; }
      .section#home .product_list .product_item {
        display: inline-block;
        vertical-align: middle;
        height: 85px;
        width: 85px;
        background: #FFF;
        border-radius: 100%;
        margin: 0 15px; }
  .section#empresa .description {
    padding-top: 15px; }
    .section#empresa .description .img_holder {
      vertical-align: top;
      width: 500px;
      height: 325px;
      margin-top: 30px;
      line-height: 305px;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
      overflow: hidden; }
      .section#empresa .description .img_holder img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%; }
      .section#empresa .description .img_holder.left {
        float: left;
        margin-right: 30px; }
      .section#empresa .description .img_holder.right {
        float: right;
        margin-left: 30px; }
      .section#empresa .description .img_holder:first-child {
        margin-top: 0; }
    .section#empresa .description p {
      font-size: 16px;
      color: #000;
      line-height: 160%;
      text-align: justify;
      vertical-align: top; }
      .section#empresa .description p:not(:first-of-type) {
        padding-top: 30px; }
  .section#produtos #products_carousel {
    margin-top: 30px;
    padding-bottom: 70px; }
    .section#produtos #products_carousel .carousel-indicators li {
      margin: 1px 5px;
      width: 14px;
      height: 14px; }
    .section#produtos #products_carousel .carousel-control.left,
    .section#produtos #products_carousel .carousel-control.right {
      background-image: none; }
      .section#produtos #products_carousel .carousel-control.left span,
      .section#produtos #products_carousel .carousel-control.right span {
        color: #000; }
    .section#produtos #products_carousel .carousel-inner .image_holder {
      text-align: center; }
      .section#produtos #products_carousel .carousel-inner .image_holder img {
        display: inline-block;
        height: 575px;
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.6); }
    .section#produtos #products_carousel .carousel-inner .text {
      padding: 0 30px; }
      .section#produtos #products_carousel .carousel-inner .text p {
        font-size: 16px;
        color: #000;
        line-height: 160%;
        text-align: justify;
        padding-top: 30px; }
    .section#produtos #products_carousel .carousel-control span {
      top: calc(575px/2); }
  .section#cases .case_list {
    margin-top: 30px; }
    .section#cases .case_list .case_item {
      display: inline-block;
      vertical-align: top;
      width: calc(100%/3); }
      .section#cases .case_list .case_item:nth-of-type(2n) a {
        background: #333; }
      .section#cases .case_list .case_item a {
        display: block;
        width: 100%;
        height: 200px;
        background: #CCC;
        line-height: 200px;
        text-align: center;
        transition: .3s; }
        .section#cases .case_list .case_item a img {
          display: inline-block;
          vertical-align: middle;
          max-width: 100%; }
        .section#cases .case_list .case_item a:hover {
          background: #999; }
  .section#videos .video_list .video_item {
    display: block;
    margin-top: 30px; }
    .section#videos .video_list .video_item .thumb {
      display: inline-block;
      vertical-align: top;
      width: 300px;
      border-radius: 3px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
      overflow: hidden;
      text-align: center; }
      .section#videos .video_list .video_item .thumb img {
        display: inline-block;
        max-width: 100%;
        transition: .3s; }
      .section#videos .video_list .video_item .thumb:hover img {
        opacity: .6; }
    .section#videos .video_list .video_item .information {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 300px);
      padding-left: 30px; }
      .section#videos .video_list .video_item .information .title {
        font-size: 20px;
        color: #000;
        font-weight: 700;
        line-height: 160%; }
      .section#videos .video_list .video_item .information .description {
        margin-top: 15px;
        font-size: 16px;
        color: #000;
        line-height: 160%; }
      .section#videos .video_list .video_item .information .open_video {
        text-align: right; }
        .section#videos .video_list .video_item .information .open_video a {
          display: inline-block;
          padding: 10px 15px;
          margin-top: 30px;
          background: #388ecb;
          color: #FFF;
          font-size: 16px;
          text-decoration: none;
          transition: .3s; }
          .section#videos .video_list .video_item .information .open_video a:hover {
            background: #74b0db; }
  .section#contato .form_contato {
    display: inline-block;
    vertical-align: top;
    width: 600px; }
    .section#contato .form_contato .form_list .form_item {
      margin-top: 30px; }
      .section#contato .form_contato .form_list .form_item .title {
        font-size: 16px;
        color: #388ecb; }
      .section#contato .form_contato .form_list .form_item input, .section#contato .form_contato .form_list .form_item textarea {
        display: block;
        margin: 10px 0 0;
        padding: 0 15px;
        background: #F9F9F9;
        border: 1px solid #CCC;
        width: 100%;
        height: 50px;
        color: #000;
        font-size: 16px;
        transition: .3s; }
        .section#contato .form_contato .form_list .form_item input:focus, .section#contato .form_contato .form_list .form_item textarea:focus {
          box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
          background: #EEE; }
      .section#contato .form_contato .form_list .form_item textarea {
        padding: 12px 15px;
        height: 300px;
        line-height: 160%;
        resize: none; }
      .section#contato .form_contato .form_list .form_item:last-of-type {
        text-align: right; }
        .section#contato .form_contato .form_list .form_item:last-of-type button {
          padding: 10px 15px;
          background: #388ecb;
          border: 0;
          color: #FFF;
          font-size: 16px;
          text-decoration: none;
          transition: .3s; }
          .section#contato .form_contato .form_list .form_item:last-of-type button:hover {
            background: #74b0db; }
  .section#contato .info_contato {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 600px);
    padding-left: 60px;
    padding-top: 30px; }
    .section#contato .info_contato .title {
      font-size: 20px;
      color: #000;
      font-weight: 700; }
    .section#contato .info_contato .info_item {
      margin-top: 30px;
      font-size: 16px;
      color: #000; }
