.container {
  width: 100%;
  max-width: calc(1170px - 30px);
  margin: auto; }

#top_bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  height: 65px;
  width: 100%;
  padding-right: 250px;
  background: #222; }
  #top_bar .bar_item {
    display: inline-block; }
    #top_bar .bar_item a {
      display: block;
      font-size: 14px;
      color: #FFF;
      line-height: 45px;
      text-decoration: none;
      transition: .3s;
      padding: 10px 20px;
      height: 65px; }
      #top_bar .bar_item a:hover {
        background: #444; }
      #top_bar .bar_item a img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%; }
  #top_bar .submenu {
    display: inline-block;
    position: relative; }
    #top_bar .submenu .submenu_title {
      display: block;
      font-size: 14px;
      color: #FFF;
      line-height: 45px;
      text-decoration: none;
      transition: .3s;
      cursor: pointer;
      padding: 10px 20px;
      height: 65px; }
      #top_bar .submenu .submenu_title i {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px; }
    #top_bar .submenu:hover .submenu_title {
      background: #444; }
    #top_bar .submenu .submenu_list {
      position: absolute;
      left: 0;
      top: 65px;
      z-index: 1;
      display: none;
      width: 200px; }
      #top_bar .submenu .submenu_list .submenu_item {
        display: block;
        width: 200px; }
        #top_bar .submenu .submenu_list .submenu_item a {
          display: block;
          background: #444;
          width: 100%;
          height: 65px;
          padding: 10px 20px;
          color: #FFF;
          font-size: 14px;
          line-height: 45px;
          text-decoration: none;
          transition: .3s; }
          #top_bar .submenu .submenu_list .submenu_item a:hover {
            background: #666; }
    #top_bar .submenu:hover .submenu_list {
      display: block; }
  #top_bar .search {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px; }
    #top_bar .search #search {
      width: 250px;
      height: 65px;
      padding: 0 55px 0 15px;
      background: #FFF;
      border: 1px solid #CCC;
      font-size: 14px;
      color: #000;
      font-family: "Titillium Web", Arial, sans-serif;
      transition: .3s; }
      #top_bar .search #search:focus {
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4); }
    #top_bar .search .clear {
      position: absolute;
      top: calc((63px - 25px)/2);
      right: 15px;
      z-index: 1;
      width: 30px;
      height: 30px;
      color: #333;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      cursor: pointer;
      transition: .3s; }
      #top_bar .search .clear:hover {
        background: #DDD; }
      #top_bar .search .clear i {
        display: inline-block;
        vertical-align: middle; }

#middle {
  padding-top: 65px; }
  #middle .section {
    padding: 25px 0 45px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #CCC; }
    #middle .section#section-talentos-de-combate, #middle .section#section-talentos-raciais, #middle .section#section-golpes-marciais {
      background: #a79179; }
    #middle .section#section-talentos-da-tormenta, #middle .section#section-gritos-de-poder {
      background: #cf7b7b; }
    #middle .section#section-talentos-de-pericia, #middle .section#section-talentos-ambientais {
      background: #9fba9b; }
    #middle .section#section-talentos-de-magia, #middle .section#section-talentos-moreau {
      background: #866a96; }
    #middle .section#section-talentos-de-destino, #middle .section#section-posturas {
      background: #a0abbe; }
    #middle .section#section-poderes-concedidos {
      background: #cea8bc; }
    #middle .section#section-talentos-epicos, #middle .section#section-escolas-de-combate, #middle .section#section-talentos-regionais {
      background: #d5c896; }
    #middle .section:first-of-type {
      border-top: 0; }
    #middle .section .container > .title {
      font-size: 20px;
      line-height: 160%;
      font-weight: 700;
      text-align: center;
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
    #middle .section .container > .description {
      font-size: 16px;
      line-height: 160%;
      text-align: justify;
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      padding-top: 25px; }
      #middle .section .container > .description p {
        line-height: 160%; }
        #middle .section .container > .description p:not(:first-of-type) {
          margin: 15px 0 0; }
      #middle .section .container > .description a {
        display: inline;
        font-weight: 700;
        line-height: 160%;
        color: #FFF;
        text-decoration: underline;
        transition: .3s; }
        #middle .section .container > .description a:hover {
          color: #CCC; }
    #middle .section .container .talentos {
      padding: 0; }
      #middle .section .container .talentos .talento {
        display: inline-block;
        vertical-align: top;
        width: calc(100%/2 - 50px);
        padding: 20px;
        margin: 50px 25px 0;
        background: #FFF;
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        transition: background .3s; }
        #middle .section .container .talentos .talento.blink {
          background: #e2e0ab; }
        #middle .section .container .talentos .talento .close {
          position: absolute;
          top: 5px;
          right: 5px;
          z-index: 1;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 24px;
          font-size: 18px;
          color: #000;
          cursor: pointer;
          transition: background .3s; }
          #middle .section .container .talentos .talento .close i {
            display: inline-block;
            vertical-align: middle; }
          #middle .section .container .talentos .talento .close:hover {
            background: #DDD; }
          #middle .section .container .talentos .talento .close .fa-caret-down {
            display: none; }
        #middle .section .container .talentos .talento.closed .description.head .texto {
          display: none; }
        #middle .section .container .talentos .talento.closed .description:not(.head) {
          display: none; }
        #middle .section .container .talentos .talento.closed .close {
          line-height: 28px; }
          #middle .section .container .talentos .talento.closed .close .fa-caret-up {
            display: none; }
          #middle .section .container .talentos .talento.closed .close .fa-caret-down {
            display: inline-block; }
        #middle .section .container .talentos .talento .manual {
          margin-top: 25px; }
          #middle .section .container .talentos .talento .manual div {
            display: inline-block;
            vertical-align: middle;
            line-height: 160%;
            font-size: 12px; }
          #middle .section .container .talentos .talento .manual .title {
            font-weight: 700;
            margin-right: 5px; }
        #middle .section .container .talentos .talento .description:not(.manual) {
          display: block;
          padding: 0 15px; }
          #middle .section .container .talentos .talento .description:not(.manual) .title {
            line-height: 160%;
            margin: 0 -15px; }
          #middle .section .container .talentos .talento .description:not(.manual).requisitos .texto {
            font-size: 0;
            line-height: 100%;
            text-align: left; }
            #middle .section .container .talentos .talento .description:not(.manual).requisitos .texto div {
              font-size: 16px;
              line-height: 160%; }
          #middle .section .container .talentos .talento .description:not(.manual) .texto {
            display: block;
            margin-top: 5px;
            font-size: 16px;
            line-height: 160%;
            text-align: justify; }
            #middle .section .container .talentos .talento .description:not(.manual) .texto div {
              display: inline; }
              #middle .section .container .talentos .talento .description:not(.manual) .texto div:not(:last-of-type):after {
                content: ",";
                padding-right: 5px; }
              #middle .section .container .talentos .talento .description:not(.manual) .texto div:last-of-type:after {
                content: "."; }
            #middle .section .container .talentos .talento .description:not(.manual) .texto p {
              line-height: 160%; }
              #middle .section .container .talentos .talento .description:not(.manual) .texto p:not(:first-of-type) {
                margin: 15px 0 0; }
            #middle .section .container .talentos .talento .description:not(.manual) .texto a {
              display: inline;
              font-weight: 700;
              line-height: 160%;
              color: #06C;
              text-decoration: none;
              transition: .3s; }
              #middle .section .container .talentos .talento .description:not(.manual) .texto a:hover {
                color: #c64d39; }
          #middle .section .container .talentos .talento .description:not(.manual):not(.head) {
            margin-top: 15px; }
            #middle .section .container .talentos .talento .description:not(.manual):not(.head) .title {
              font-size: 16px;
              text-decoration: underline; }
          #middle .section .container .talentos .talento .description:not(.manual).head .title {
            font-size: 20px;
            font-weight: 700;
            line-height: 160%; }

#disclaimer {
  padding: 50px 0;
  border-top: 1px solid #999;
  background: #FFF; }
  #disclaimer .title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 120%; }
  #disclaimer .text {
    margin-top: 35px;
    font-size: 20px;
    line-height: 160%;
    text-align: justify; }
    #disclaimer .text i {
      display: inline;
      vertical-align: middle;
      font-size: 24px; }

#footer {
  padding: 30px 30px 0;
  background: #222;
  text-align: center; }
  #footer .logo {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    max-width: 100%;
    transition: .3s; }
    #footer .logo:hover {
      filter: sepia(100%); }
    #footer .logo img {
      max-width: 100%; }
  #footer .creator {
    padding: 20px 0 25px;
    text-align: center; }
    #footer .creator span {
      display: inline-block;
      margin-right: 5px;
      color: #EEE;
      font-size: 16px; }
    #footer .creator a {
      display: inline-block;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      color: #c64d39;
      transition: .3s; }
      #footer .creator a:hover {
        color: #EEE; }
