.container {
  max-width: 1170px;
  margin: auto; }

#top_bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  height: 65px;
  width: 100%;
  padding-right: 250px;
  background: #222; }
  #top_bar .bar_item {
    display: inline-block; }
    #top_bar .bar_item a {
      display: block;
      font-size: 14px;
      color: #FFF;
      line-height: 45px;
      text-decoration: none;
      transition: .3s;
      padding: 10px 20px;
      height: 65px; }
      #top_bar .bar_item a:hover {
        background: #444; }
      #top_bar .bar_item a img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%; }
  #top_bar .submenu {
    display: inline-block;
    position: relative; }
    #top_bar .submenu .submenu_title {
      display: block;
      font-size: 14px;
      color: #FFF;
      line-height: 45px;
      text-decoration: none;
      transition: .3s;
      cursor: pointer;
      padding: 10px 20px;
      height: 65px; }
      #top_bar .submenu .submenu_title i {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px; }
    #top_bar .submenu:hover .submenu_title {
      background: #444; }
    #top_bar .submenu .submenu_list {
      position: absolute;
      left: 0;
      top: 65px;
      z-index: 1;
      width: 0;
      height: 0;
      overflow: hidden;
      transition: .3s; }
      #top_bar .submenu .submenu_list .submenu_item {
        display: block; }
        #top_bar .submenu .submenu_list .submenu_item a {
          display: block;
          background: #444;
          width: 200px;
          height: 65px;
          padding: 10px 20px;
          color: #FFF;
          font-size: 14px;
          line-height: 45px;
          text-decoration: none;
          transition: .3s; }
          #top_bar .submenu .submenu_list .submenu_item a:hover {
            background: #666; }
    #top_bar .submenu:hover .submenu_list {
      width: 200px;
      height: calc(65px * 9); }
  #top_bar .search {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px; }
    #top_bar .search #search {
      width: 250px;
      height: 65px;
      padding: 0 55px 0 15px;
      background: #FFF;
      border: 1px solid #CCC;
      font-size: 14px;
      color: #000;
      font-family: "Titillium Web", Arial, sans-serif;
      transition: .3s; }
      #top_bar .search #search:focus {
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4); }
    #top_bar .search .clear {
      position: absolute;
      top: calc((63px - 25px)/2);
      right: 15px;
      z-index: 1;
      width: 30px;
      height: 30px;
      color: #333;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      cursor: pointer;
      transition: .3s; }
      #top_bar .search .clear:hover {
        background: #DDD; }
      #top_bar .search .clear i {
        display: inline-block;
        vertical-align: middle; }

#middle {
  width: 1170px;
  padding-top: 50px;
  margin: 35px auto; }
  #middle .section h2 {
    font-size: 20px;
    font-weight: 700;
    display: inline-block; }
  #middle .section > .description {
    font-size: 14px;
    line-height: 160%;
    text-align: justify;
    padding: 15px 25px 0; }
    #middle .section > .description br {
      margin: 10px 0; }
  #middle .section .talentos {
    padding: 0;
    margin-top: 20px; }
    #middle .section .talentos .talento {
      display: inline-block;
      width: calc(50% - 50px);
      padding: 20px;
      margin: 0 calc(25px) 50px;
      background: #FFF;
      box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      position: relative;
      transition: .3s; }
      #middle .section .talentos .talento.blink {
        background: #DDD; }
      #middle .section .talentos .talento .close {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 28px;
        font-size: 16px;
        color: #000;
        cursor: pointer;
        transition: .3s; }
        #middle .section .talentos .talento .close i {
          display: inline-block;
          vertical-align: middle; }
        #middle .section .talentos .talento .close:hover {
          background: #DDD; }
        #middle .section .talentos .talento .close .fa-window-restore {
          display: none; }
      #middle .section .talentos .talento.closed .description.head .texto {
        display: none; }
      #middle .section .talentos .talento.closed .description:not(.head) {
        display: none; }
      #middle .section .talentos .talento.closed .close .fa-times {
        display: none; }
      #middle .section .talentos .talento.closed .close .fa-window-restore {
        display: inline-block; }
      #middle .section .talentos .talento .description {
        display: block;
        padding: 0 15px; }
        #middle .section .talentos .talento .description .title {
          line-height: 160%;
          margin: 0 -15px; }
        #middle .section .talentos .talento .description.requisitos .texto {
          font-size: 0;
          line-height: 100%;
          text-align: left; }
          #middle .section .talentos .talento .description.requisitos .texto div {
            font-size: 14px;
            line-height: 160%; }
        #middle .section .talentos .talento .description .texto {
          display: block;
          margin-top: 5px;
          font-size: 14px;
          line-height: 160%;
          text-align: justify; }
          #middle .section .talentos .talento .description .texto div {
            display: inline; }
            #middle .section .talentos .talento .description .texto div:not(:last-of-type):after {
              content: ",";
              padding-right: 5px; }
            #middle .section .talentos .talento .description .texto div:last-of-type:after {
              content: "."; }
          #middle .section .talentos .talento .description .texto br {
            margin: 10px 0; }
          #middle .section .talentos .talento .description .texto a {
            display: inline;
            font-weight: 700;
            line-height: 160%;
            color: #06C;
            text-decoration: none;
            transition: .3s; }
            #middle .section .talentos .talento .description .texto a:hover {
              color: #c64d39; }
        #middle .section .talentos .talento .description:not(.head) {
          margin-top: 15px; }
          #middle .section .talentos .talento .description:not(.head) .title {
            font-size: 16px;
            text-decoration: underline; }
        #middle .section .talentos .talento .description.head .title {
          font-size: 18px;
          font-weight: 700; }

#disclaimer {
  background: #FFF;
  padding: 50px 0; }
  #disclaimer .title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 120%; }
  #disclaimer .text {
    margin-top: 35px;
    padding: 0 50px;
    font-size: 20px;
    line-height: 160%;
    text-align: justify; }
    #disclaimer .text i {
      display: inline;
      vertical-align: middle;
      font-size: 24px; }

#footer {
  padding: 30px 30px 0;
  background: #222;
  text-align: center; }
  #footer .logo {
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    max-width: 100%;
    transition: .3s; }
    #footer .logo:hover {
      filter: sepia(100%); }
    #footer .logo img {
      max-width: 100%; }
  #footer .creator {
    padding: 20px 0 25px;
    text-align: center; }
    #footer .creator span {
      display: inline-block;
      margin-right: 5px;
      color: #EEE;
      font-size: 14px; }
    #footer .creator a {
      display: inline-block;
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      color: #c64d39;
      transition: .3s; }
      #footer .creator a:hover {
        color: #EEE; }
